  h1{
  /*estilos para títulos h1*/
color: blue;
text-align:center;
background-color: rgb(228, 241, 109);
}
h2{
/*estilos para títulos h2*/
color: black;
text-align:center;
font-family: font[initial]inherit;
};
div {
/*div genérico*/
text-align:center;
}  
#audio{
padding-bottom: 1%;
text-align:center;
}  
body{
background: url(http://www.freeslots99.com/img/slots/inspector-gadget-blueprint.jpg);
max-width: 100%;
max-height: 100%;
text-align: center;
}
html{
height: 100%;
background-color: rgb(240, 239, 239);
}
.contenedor{
box-sizing: center;
text-align: center;
font: 120% sans-serif;
height: 49%;
background-color: rgb(116, 178, 240);
margin: 1% 1%;
border: 12px solid;
}













